In [1]:
import pandas as pd

In [3]:
df = pd.read_json('definitivo.json')

df

,id,artist_name,track_name,genre,year
0,7AlYBA5M9FVXDqN31cbExE,Remedios Amaya,El zarandeo,flamenco,2000
1,4uqcES2h19TKAXQlciycrO,Nobuo Uematsu,Vamo'alla flamenco,flamenco,2000
2,0z6xGK2u3nSsbk9XeKYwZQ,Maurice Ravel,Flamenco Bolero,flamenco,2000
3,6DjfWx0fXi0uQpedpvaCD9,Mark Towns,After the Rain,flamenco,2000
4,1t91qQaPbOoo4pumaLih4W,Franz Schubert,Tango Serenata (Ständchen),flamenco,2000
...,...,...,...,...,...
61612,6Lv0uLFhPt6e4qcmoeltAq,Jade Macrae,Ain’t Nobody Home,rock,2026
61613,6Lv0uLFhPt6e4qcmoeltAq,Robben Ford,Ain’t Nobody Home,rock,2026
61614,4PtUbfBR2U2BC0uUrT9hnM,No Te Va Gustar,Todo Mal,rock,2026
61615,4PtUbfBR2U2BC0uUrT9hnM,Ciro y los Persas,Todo Mal,rock,2026
61616,762E489aCXNDuRg1sZaWmC,Artemas,time alone w u,rock,2026

In [21]:
filtro_anio = (df['year'] >=2005) & (df['year'] <= 2009)
filtro_anio

0        False
1        False
2        False
3        False
4        False
         ...
61612    False
61613    False
61614    False
61615    False
61616    False
Name: year, Length: 61617, dtype: bool

In [23]:
df_anio = df[(filtro_anio)]
df_anio

,id,artist_name,track_name,genre,year
9147,0YXYaZ0ZiZNE3QPGAVN7p6,Angelillo,Serranía de Ronda,flamenco,2005
9148,2Yt7e4bG5sO3IEA5YjZFIx,Angelillo,Chiclanera,flamenco,2005
9149,3MDEPsKCGyyMqFPGjW9DLJ,Angelillo,Paco el Minero,flamenco,2005
9150,41qr4tgURYfL7Yus7lBWVP,Angelillo,Granada Morisca,flamenco,2005
9151,3sizJPuTf0lcUENHs56PrP,Angelillo,Mi Recuerdo,flamenco,2005
...,...,...,...,...,...
19432,4gnhILYPGdbLDuwdhPSRJq,Georg Huber,A media luz,tango,2009
19433,7LJ6QmI9qX2AudFB8YVlpc,Tatsuo Sasaki,HIstoire du tango: Cafe,tango,2009
19434,7LJ6QmI9qX2AudFB8YVlpc,Michiko Noguchi,HIstoire du tango: Cafe,tango,2009
19435,38LRxEVND9IJyUEGvJar8E,Tatsuo Sasaki,Histoire du tango: Bordel,tango,2009
19436,38LRxEVND9IJyUEGvJar8E,Michiko Noguchi,Histoire du tango: Bordel,tango,2009

In [20]:
#filtro_5anios = (df_filtrado['year'] >=2005) & (df_filtrado['year'] <= 2009)
#filtro_5anios

#df_5anios = df_filtrado[(filtro_5anios)]
#df_5anios

Seleccionar 4 géneros musicales para el desarrollo de este proyecto.

In [24]:
filtro_genre = df_anio['genre'].isin(['hip-hop','rock','latin','pop'])
#filtro_genre

df_genre = df_anio[(filtro_genre)]
df_genre

,id,artist_name,track_name,genre,year
9177,1PS1QMdUqOal0ai3Gt7sDQ,Kanye West,Gold Digger,hip-hop,2005
9178,1PS1QMdUqOal0ai3Gt7sDQ,Jamie Foxx,Gold Digger,hip-hop,2005
9179,0jukvcN4fAGAgtkYVgLR9Z,SFDK,El Niño Güei,hip-hop,2005
9180,2dxjKgT0li4qBI3QwuN9Ih,Kanye West,Touch The Sky,hip-hop,2005
9181,2dxjKgT0li4qBI3QwuN9Ih,Lupe Fiasco,Touch The Sky,hip-hop,2005
...,...,...,...,...,...
19425,3h4JgBHcWM7A4CBVI6csau,Skillet,Believe,rock,2009
19426,0nx12KXHohiyLRqO5qfV2k,Mark Knopfler,Hard Shoulder,rock,2009
19427,6gVH9jHl5Xpxxl4gVVrEkE,Nirvana,Smells Like Teen Spirit - 1992/Live at Reading,rock,2009
19428,6ZpbDCTXLlorzMgv8BEAHu,New Limit,In My Heart,rock,2009
19429,3K2dcFU3Wc2yAtC74b7d0H,Kryss,Tonight,rock,2009

Extraer la siguiente información:

Artista.

Género musical.

Tipo (canción o álbum).

Nombre.

Año de lanzamiento.

ID.

In [ ]:
df_genre

,id,artist_name,track_name,genre,year
9177,1PS1QMdUqOal0ai3Gt7sDQ,Kanye West,Gold Digger,hip-hop,2005
9178,1PS1QMdUqOal0ai3Gt7sDQ,Jamie Foxx,Gold Digger,hip-hop,2005
9179,0jukvcN4fAGAgtkYVgLR9Z,SFDK,El Niño Güei,hip-hop,2005
9180,2dxjKgT0li4qBI3QwuN9Ih,Kanye West,Touch The Sky,hip-hop,2005
9181,2dxjKgT0li4qBI3QwuN9Ih,Lupe Fiasco,Touch The Sky,hip-hop,2005
...,...,...,...,...,...
19425,3h4JgBHcWM7A4CBVI6csau,Skillet,Believe,rock,2009
19426,0nx12KXHohiyLRqO5qfV2k,Mark Knopfler,Hard Shoulder,rock,2009
19427,6gVH9jHl5Xpxxl4gVVrEkE,Nirvana,Smells Like Teen Spirit - 1992/Live at Reading,rock,2009
19428,6ZpbDCTXLlorzMgv8BEAHu,New Limit,In My Heart,rock,2009
19429,3K2dcFU3Wc2yAtC74b7d0H,Kryss,Tonight,rock,2009

In [19]:
df

,id,artist_name,track_name,genre,year
0,7AlYBA5M9FVXDqN31cbExE,Remedios Amaya,El zarandeo,flamenco,2000
1,4uqcES2h19TKAXQlciycrO,Nobuo Uematsu,Vamo'alla flamenco,flamenco,2000
2,0z6xGK2u3nSsbk9XeKYwZQ,Maurice Ravel,Flamenco Bolero,flamenco,2000
3,6DjfWx0fXi0uQpedpvaCD9,Mark Towns,After the Rain,flamenco,2000
4,1t91qQaPbOoo4pumaLih4W,Franz Schubert,Tango Serenata (Ständchen),flamenco,2000
...,...,...,...,...,...
61612,6Lv0uLFhPt6e4qcmoeltAq,Jade Macrae,Ain’t Nobody Home,rock,2026
61613,6Lv0uLFhPt6e4qcmoeltAq,Robben Ford,Ain’t Nobody Home,rock,2026
61614,4PtUbfBR2U2BC0uUrT9hnM,No Te Va Gustar,Todo Mal,rock,2026
61615,4PtUbfBR2U2BC0uUrT9hnM,Ciro y los Persas,Todo Mal,rock,2026
61616,762E489aCXNDuRg1sZaWmC,Artemas,time alone w u,rock,2026

In [26]:
filtro_anio = (df['year'] >=2005) & (df['year'] <= 2009)
filtro_genre = df['genre'].isin(['hip-hop','rock','latin','pop'])

df_filtrado = df[(filtro_anio & filtro_genre)]
df_filtrado

,id,artist_name,track_name,genre,year
9177,1PS1QMdUqOal0ai3Gt7sDQ,Kanye West,Gold Digger,hip-hop,2005
9178,1PS1QMdUqOal0ai3Gt7sDQ,Jamie Foxx,Gold Digger,hip-hop,2005
9179,0jukvcN4fAGAgtkYVgLR9Z,SFDK,El Niño Güei,hip-hop,2005
9180,2dxjKgT0li4qBI3QwuN9Ih,Kanye West,Touch The Sky,hip-hop,2005
9181,2dxjKgT0li4qBI3QwuN9Ih,Lupe Fiasco,Touch The Sky,hip-hop,2005
...,...,...,...,...,...
19425,3h4JgBHcWM7A4CBVI6csau,Skillet,Believe,rock,2009
19426,0nx12KXHohiyLRqO5qfV2k,Mark Knopfler,Hard Shoulder,rock,2009
19427,6gVH9jHl5Xpxxl4gVVrEkE,Nirvana,Smells Like Teen Spirit - 1992/Live at Reading,rock,2009
19428,6ZpbDCTXLlorzMgv8BEAHu,New Limit,In My Heart,rock,2009
19429,3K2dcFU3Wc2yAtC74b7d0H,Kryss,Tonight,rock,2009